$main-bg: #F7F7F7;
$box-bg: #6F6F6F;
$main-box-h: 400px;
$main-box-w: 350px;
$main-box-pd: 25px;
$font-stack: Helvetica, Arial, sans-serif;
@import 'button-flat'; /* .btn defaults */
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    @include bp-large-desktop {
        font-size: 1.1em;
    }
}

body {
    background-color: $main-bg;
    font-family: $font-stack;
}

div {
    box-sizing: border-box;
}
.container {
    padding: 150px;
    @include bp-phone {
        padding: 20px;
    }
}

.main-box {
    width: $main-box-w;
    height: $main-box-h;
    margin: auto;
    padding: $main-box-pd;
    background-color: $box-bg;
    border-radius: 2em;

    #text-input {
        @include centered-horiz-inline-block();
    }

    h2 {
        text-align: center;
        margin-bottom: 25px;
    }
    .result {
        margin-top: 25px;
        text-align: center;

        p {
            display: inline-block;
            margin: 0 7px;
            font-size: 0.8em;
        }
    }

    .sort-button {
        @extend .btn; //from button-flat
        margin: 5px auto;
        background-color: lighten($box-bg, 50%);
        border: 2px solid darken($box-bg, 10%);
        font-weight: bold;
    }
}
